name: CI

on: [push]

jobs:
  test:
    strategy:
      matrix:
        nodeVersion: [20, 22, 24]

    name: Tests
    runs-on: ubuntu-latest

    container:
      image: node:${{ matrix.nodeVersion }}-alpine

    steps:
      - uses: actions/checkout@v6

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - run: yarn lint

      - run: yarn test
